<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become a member</title>
  </head>
  <body>
    <h1>Join</h1>
    <h2>Enter the secret password to become a member</h2>
    <form action="/join" method="POST">
      <label for="password">Secret password</label>
      <input id="password" name="password" type="password" />
      <%- include("partials/errors.ejs") %>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
