<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Sign up</h1>
    <form action="/sign-up" method="POST">
      <label for="firstName">First name</label>
      <input id="firstName" name="first_name" type="text" />
      <label for="lastName">Last name</label>
      <input id="lastName" name="last_name" type="text" />
      <label for="username">Username</label>
      <input
        id="username"
        name="username"
        placeholder="your.email@example.com"
        type="email"
      />
      <label for="password">Password</label>
      <input id="password" name="password" type="password" />
      <label for="confirmPassword">Confirm password</label>
      <input id="confirmPassword" name="confirmPassword" type="password" />
      <%- include("partials/errors.ejs") %>
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
